<div class="container m-3">
  <h1>My bookings</h1>
</div>

<div class="container m-3">
  <% @bookings.each do |booking| %>
    <div class="card-product my-3">
      <%= cl_image_tag booking.experience.photo.key %>
      <div class="card-product-infos">
        <h2><%= booking.experience.name %></h2>
        <p><%= booking.experience.price %></p>
        <p><%= booking.experience.address %></p>
        <p><%= booking.start_date.to_fs(:long) %></p>
        <% if booking.status == 0 %>
          <p>Status : Pending</p>
        <% elsif booking.status == 1 %>
          <p>Status : Accepted</p>
        <% elsif booking.status == 2 %>
          <p>Status : Rejected</p>
        <% end %>
      </div>
    </div>
  <% end %>
  <%# link_to "New booking", new_restaurant_path if policy(Restaurant).new? %>
</div>
