<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
    <div class="row">
      <%= link_to "/", class: "navbar-brand col pe-0" do %>
        <%= image_tag "https://pbs.twimg.com/profile_images/1611414811417645056/r_ClYdqt_400x400.jpg" %>
      <% end %>
      <h3 class="col px-0 mt-2">Tradys</h3>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          </li>
          <li class="nav-item">
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "#{current_user.photo.attached? ? cl_image_path(current_user.photo.key) : "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" }", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", experiences_path, class: "dropdown-item" %>
              <%= link_to "See My Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "See My Bookings(Host)", host_bookings_path, class: "dropdown-item" %>
              <%= link_to "Create Experience", new_experience_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
