<div class="banner" style="background-position: center; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511360823-5c672a170787?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);">
  <div class="container">
    <h1><strong>Tradys</strong></h1>
    <p>Enjoy traditions around the world.</p>
  </div>

    <%= form_with url: experiences_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an experience"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

</div>
<div class="container-fluid">
  <div class="cards">
    <% if @experiences.any? %>
    <% @experiences.each do |experience| %>
      <div class="card-display-box">
        <%= link_to '', experience_path(experience), class: 'card-display-link'  %>
        <div class="card-display" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path experience.photo.key %>)">
          <%= experience.name %>
        </div>
        <div class="row mt-1 ms-2">
          <div class="col-sm-3 aline-item-center">
            <p><i class="fa-regular fa-clock"></i> <%= experience.duration %> min</p>
          </div>
          <div class="col-sm-5 aline-item-center">
            <p><i class="fa-solid fa-location-dot"></i> <%= experience.address %></p>
          </div>
          <div class="col-sm-4 aline-item-center">
            <p><i class="fa-solid fa-yen-sign"></i> <%= experience.price %> /<i class="fa-solid fa-person"></i></p>
          </div>
        </div>
      </div>
    <% end %>
     <% else %>
      <h2>No results found for <em><%= params[:query] %></em> </h2>
      <p>We couldn't find <em><%= params[:query] %></em>.Try searching again</p>
  <% end %>
  </div>
</div>
