
<div class="card-trip">
  <h2 class="card-trip-title"><%= @experience.name %></h2>
  <div class="row">
    <%= cl_image_tag @experience.photo.key, class: "col-sm-6"%>
    <div class="card-trip-infos col-sm-6 align-items-start">
      <div>
        <h3> <i class="fa-solid fa-globe"></i> <%= @experience.address %></h3>
        <p class="fs-6"><%= @experience.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h6 class="card-trip-pricing"><b>¥<%= @experience.price %></b> <%= @experience.duration %>min</h6>
  <div class="card-body">
    <%= render 'bookings/form' %>
    <%= link_to 'To my bookings', bookings_path %>
  </div>
</div>
