
<div class="card-trip">
  <h2 class="card-trip-title"><%= @experience.name %></h2>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h3> <%= @experience.address %></h3>
      <p><%= @experience.description %></p>
    </div>
    <div class ="hosted-by">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="user avatar-bordered" />
     <h4>Hosted By: <br><%= @experience.user.first_name %></h4>
    </div>
  </div>

</div>

<div class="card">
  <h6 class="card-trip-pricing">¥<%= @experience.price %>/ <%= @experience.duration %></h6>
  <div class="card-body">
    <label for="experiencedate">Choose a Date</label>
<input type="date" name="experiencedate" id="experiencedate">

    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
