
<div class="card-trip">
  <h2 class="card-trip-title"><%= @experience.name %></h2>
  <%= cl_image_tag @experience.photo.key %>
  <div class="card-trip-infos justify-content-start">
         <div>
      <h3> <i class="fa-solid fa-location-dot"></i> <%= @experience.address %></h3>
      <p><%= @experience.description %></p>
    </div>
  </div>

</div>

<div class="card">
  <h6 class="card-trip-pricing"><b>¥<%= @experience.price %></b> <%= @experience.duration %>min</h6>
  <div class="card-body">
    <%= render 'bookings/form' %>
    <div class="btn btn-info mt-2">
    <a style="text-decoration:none <%= link_to 'To my bookings', bookings_path %> </a>
    </div>
  </div>
</div>
